.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.281);
  background-color: white;
  top: 90px;
  right: 50px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 110%;
    scrollbar-width: thin;
  }

  button {
    // margin-top: auto;
    margin-top: 10px;
    margin-left: 15px;
  }

  .empty-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      padding: 10px;
      width: 90%;
      height: 160px;
      margin: 20px 0 20px -15px;
    }

    .empty-message {
      font-size: 20px;
      font-weight: bold;
      margin-left: -15px;
    }
  }
}
